$white: #fff;
$codgray: #060606;
$windsor: #6b0c7a;
$monza: #bc0428;
$silver: #bcbcbc;
$dodgerblue: #4154fe;
$jumbo: #78787a;
$astronautblue: #014461;
$burntsienna: #ec5a57;
$vedungreen: #504e00;
$orientalpink: #bc8b96;
$cinder: #0d0b12;
$cosmic: #683551;
$daisybush: #4321aa;
$seanymph: #709e9c;
$shizar: #a00644;
$mongoose: #b6967e;
$bluegem: #4613a0;
$cocoabrown: #362428;
$royalblue: #4257ef;



